.roomType{
	padding-top: 180px;
	display: flex;
	justify-content: center;
	padding-bottom: 10vw;
	
}
.roomType .roomType-wrap{
	width: 90%;
	
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.roomType .roomType-wrap .roomType-title{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 2em;
}
/*card*/
.roomType .roomType-wrap .Cards{
	width: 100%;
	margin-top: 10vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.roomType .roomType-wrap .Cards .roomCard-grid{
	margin-bottom: 10vw;
	border-radius: 0.5rem;
	max-width: 550px;
	min-width: 250px;
	width: 31%;
	display: flex;
	flex-direction: column;
	background-color: white;
	box-shadow: 1vw 20px purple;
	position: relative;
	color: black;
}
.roomType .roomType-wrap .Cards .roomCard-grid a{
	text-decoration: none;
}
.roomType .roomType-wrap .Cards .roomCard-grid .roomCard-image{
	width: 100%;
	height: 20vw;
	position: relative;
}
.roomCard-grid .roomCard-image .btnleft{
	z-index: 10;
	position: absolute; 
	top: 50%;
	left: 0;
	border-radius: 100%;
	border-color: white;
	border-style: solid;
	color: blue;
	font-size: 1.5em;

}

button{
	cursor: pointer;
}
button:hover{
	background-color: pink;
}
.roomCard-grid .roomCard-image .btnright{
	z-index: 10;
	position: absolute; 
	top: 50%;
	right: 0;
	border-radius: 100%;
	color: blue;
	border-color: white;
	border-style: solid;
	font-size: 1.5em;
}
.roomType .roomType-wrap .Cards .roomCard-grid .roomCard-detail{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 10px;
	font-size: 1.1em;
	white-space: pre-line;

}
.Cards .roomCard-grid .roomCard-detail-title{
	font-size: 1.5em;
	font-weight: 600;
}
@media (max-width: 640px) {
	.roomType .roomType-wrap .Cards .roomCard-grid{
		margin-bottom: 10vw;
		max-width: 500px;
		
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: white;
		box-shadow: 10px 12px purple;
	}
	.roomType .roomType-wrap .Cards .roomCard-grid .roomCard-image{
		width: 100%;
		height: 80vw;
	}

}