.top{
	z-index: 20;
	position: fixed;
	width: 100%;
}
.nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.nav .hotelnumber {
	background-color: purple;
	
}
.nav .hotelnumber p{
	padding: 10px;
	margin: 0;
	color: white;
	font-size: 1.15em;
	font-weight: bold;
}
/*    */
.nav .pages{
	z-index: 10;
	width: 100%;
	position: absolute;
	top:  40px;
	background-color: rgba(255, 255, 255, .8);
	display: flex;
	justify-content: space-around;
}
.nav .pages .navLeft{
	display: flex;
	flex-wrap: wrap;
}
.nav .pages .navLeft .navIcon{
	background-image: url("../../public/icon.jpg");
	height: 80px;
	width: 80px;

	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 5vw;
}
.nav .pages .navLeft .navWrap{
	margin-left: 5px;
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: space-evenly;
}
.nav .pages .navLeft .navWrap .navName{
	font-size: 2em;
}



/*選單*/
.nav .pages ul{
	/*margin-right: 8vw;*/
	display: flex;
	align-items: center;
	padding-left: 20px;
}
.nav .pages li{
	list-style: none;
	display: inline-block;
	margin-right: 6vw;
	
	
}
.nav .pages li a{
	text-decoration: none;
	color: black;
	font-size: 1.2em;
	font-weight: 600;
}
.nav .pages li a:hover {
  color: gray;
  cursor: pointer;
}
.nav .pages .pcnav .fa-facebook-square{
	font-size: 2em;
}
.nav .phoneNav{
	display: none;
}
.top .nav .navButton{/*手機選單按鈕*/
	display: none;
}

/**/
@media (max-width:640px ) {
	.top {
		position: static;
	}
	.nav .pages{
		position: static;
		height: 110px;
	}
	.nav .hotelnumber p{
		padding: 5px;
		font-size: 1.1em;
	}
	.nav .pages{
		justify-content: space-between;
		top: 28px;
}

	.nav .pages .navLeft .navIcon{

		width: 110px;
		height: 110px;
		
	}

	.nav .pages .navLeft .navWrap {
		font-size: 3.6vw;
	}



	/*選單*/
	.nav .pages ul{
	/*margin-right: 8vw;*/
		display: none;
}
 .nav .phoneNav{
 		z-index: 100;
 		display: block;
 		justify-content: flex-end;
 		position: fixed;
 		right: 0;
 		top: 0;
 		height: 100vh;
 		width: 50vw;
 		background-color: rgba(0, 0, 0, .9);
 		transition: .3s;
 }
	.phoneNav-hidden{
		transform: translateX(100%);
	}

 .nav .phoneNav ul{
 		display: flex;
 		flex-direction: column;
 		align-items: center;
 		padding-top: 80px;
  	margin-right: 20px;
 }
 .nav .phoneNav ul li{
 		display: flex;
 		justify-content: center;
 		list-style: none;
 		padding:20px 20px;
 		position: relative;
 		width: 100%;
 }
 .nav .phoneNav ul li a{
 		text-decoration: none;
 		color: white;
 		font-size: 1.3em;
 		letter-spacing: 4px;/*字元間距*/
 }
 .nav .phoneNav ul li .fb{
 	font-size: 1.35em;
 		letter-spacing: 3.8px;/*字元間距*/
 }
 .nav .phoneNav ul  li::before{
 		position: absolute;
 		content: '';
 		border-bottom: 1px solid #fff;
 		left: 20px;
 		right: 20px;
 		bottom: 0;
 }

 /*手機選單按鈕*/
	.top .nav .navButton{
		display: block;
		position: fixed;
		background-color: rgba(255, 255, 255, 0);
		top: 10vw;
		right: 4vw;
		z-index: 101;
		font-weight: bold;
		border-style: none;
		transition: .5s;	
	}
	.navButton-Close{
		color: white;
	}

	.top .nav .phoneNav .fa-home{
		display: flex;
		align-items: center;
		color: wheat;
	}
	.top .nav .phoneNav .fa-facebook-square{
		color: rgb(3, 108, 228);
    font-size: 1.5em;
    
	}
 	.top .nav .navButton .fa-bars{
 		font-size: 2em;
 	}
 	.top .nav .navButton .fa-times{
 		font-size: 2em;
 	}

}