.Googlemap{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.googlemap-wrap{
	display: flex;
	margin-top: 250px;
	width: 95%;
	justify-content: space-around;
	white-space: pre-line;
	flex-wrap: wrap;
	margin-bottom: 10vw;
}
.googlemap-wrap iframe{
	width:45vw;
	height:35vw;
	min-width:250px;
	min-height:187px;
}
.attractions{
	font-size: 1.2em;
	margin-top: 2vw;
}
.attractions p{
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 5vw;
}
@media (max-width: 640px) {
	.googlemap-wrap{
		flex-direction: ;
		justify-content: space-around;
		white-space: pre-line;
		flex-wrap: wrap;
		margin-bottom: 10vw;
	}
	.googlemap-wrap iframe{
		width:90%;
		height:90vw;
		min-width:250px;
		min-height:187px;
	}
	.attractions{
	font-size: 1.2em;
	margin-top: 15vw;
}
}