.Introduce{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Introduce .Introduce_title{
	margin-top: 5vw;
	margin-bottom: 10vw;
}


.Introduce .Introduce_wrap{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 10vw;
}
.Introduce .Introduce_img{
	background-image: url('../../../../public/imgs/introduce.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 40%;
}
.Introduce .Introduce_content{
	width: 25%;
	font-size: 1.3em;
	margin-bottom: 12vw;
}
.Introduce .Introduce_content p{
	margin-top: 6vw;
	line-height: 1.7em;
}
/*mobile*/
@media (max-width: 640px) {
	.Introduce{
		margin-top: 20vw;
	}
	.Introduce .Introduce_wrap{
		flex-wrap: wrap;
	}
	.Introduce .Introduce_img{
		height: 120vw;
		width: 80%;
	}
	.Introduce .Introduce_content{
		width: 60%;
		font-size: 1.2em;
		margin-top: 10vw;
		margin-bottom: 10vw;
	}
	.Introduce .Introduce_content p{
	margin-top: 6vw;
	}
}