.test2{
  display: flex;
  /*justify-content: center;
  align-items: start;*/
  width: 100%;
  height: 40vw;
  margin-top: 120px;
  position: relative;
  /*
  background-image: url('../../public/imgs/blurred1.jpg');
  */
  background-size: cover;
  background-color: coral;
 }

.test2 button{
  width: 5vw;
  height: 5vw;
  font-size: 2em;
  cursor: pointer;
  display: none;
}

/*輪播*/
.slider{
	position: relative;
	width: 100%;
	max-width: 2560px;
	height: 40vw;
	max-height: 1440px;
	overflow: hidden;
	
}
.slider-slide{
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease-out;
	
}
.slider-slide-active{
	opacity: 1;
}
.slider-imgs{
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
.slider-dots{
	display: flex;
	position: absolute;
	bottom: 1vw;
	left: 50%;
	transform: translateX(-50%);
}
.slider-dot{
	position: relative;
	width: 1vw;
	height: 1vw;
	border-radius: 50%;
	background-color: #559392;
	margin: 0 0.5vw;
	cursor: pointer;
}
.slider-dot::before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: #00003d;
	border-radius: 50%;
	opacity: 0;
}
.slider-dot-active::before{
	opacity: 1;
}
@media (max-width: 640px) {
	.test2{
		height: 100vw;
		margin-top: 137px;
		height: 95vw;
	}
	.slider{
	width: 100%;
	max-width: 1440px;
	height: 95vw;
	max-height: 900px;
	overflow: hidden;
	
	}
}